<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<string>121.199.48.53</string>
	<key>version</key>
	<string>/api/v1/ios_updates</string>
	<key>scan_validate</key>
	<string>/api/v1/regexes/labels</string>
	<key>base</key>
	<string>http://192.168.0.112</string>
	<key>port</key>
	<string>:3000</string>
	<key>log_in</key>
	<string>/api/v1/users/login/</string>
	<key>log_out</key>
	<string>/api/v1/users/logout/</string>
	<key>send_address</key>
	<string>/api/v1/locations/get_all</string>
	<key>movables</key>
	<string>/api/v1/movables/get_type</string>
	<key>locations_warehosues</key>
	<string>/api/v1/locations/warehouses</string>
	<key>inventory_processing</key>
	<string>/api/v3/inventory_list/processing</string>
	<key>check_stock</key>
	<string>/api/v3/whouse/check_stock</string>
	<key>inventory_list_item</key>
	<string>/api/v3/inventory_list_item</string>
	<key>move</key>
	<string>/api/v1/moving/move</string>
	<key>get_positions</key>
	<string>/api/v1/parts/get_positions</string>
	<key>get_movement_list</key>
	<string>/api/v3/movement_list</string>
	<key>create_movement_list</key>
	<string>/api/v3/movement_list</string>
	<key>create_package_enter_stock</key>
	<string>/api/v3/movement_list/create_package_enter_stock</string>
	<key>validate_movement</key>
	<string>/api/v3/movement_list/validate_movement</string>
	<key>save_movements</key>
	<string>/api/v3/movement_list/save_movements</string>
	<key>get_movement</key>
	<string>/api/v3/movement</string>
	<key>get_movement_detail</key>
	<string>/api/v3/movement/movement_detail</string>
	<key>delete_movement_list</key>
	<string>/api/v3/movement_list</string>
	<key>create_inventory_list_item</key>
	<string>/api/v3/inventory_list_item/</string>
	<key>inventory_list_position</key>
	<string>/api/v3/inventory_list/inventory_list_position</string>
	<key>inventory_list_condition_item</key>
	<string>/api/v3/inventory_list_item/inventory_item_list</string>
	<key>update_inventory_list_items</key>
	<string>/api/v3/inventory_list_item/data_update</string>
	<key>delete_inventory_list_items</key>
	<string>/api/v3/inventory_list_item</string>
	<key>get_package_info</key>
	<string>/api/v1/packages</string>
	<key>get_movement_resources</key>
	<string>/api/v3/movement_source</string>
	<key>delete_movement_source</key>
	<string>/api/v3/movement_source</string>
	<key>get_nstorage_package_info</key>
	<string>/api/v1/packages/nstorage_package</string>
	<key>search_position</key>
	<string>/api/v3/inventory_list/search_position</string>
	<key>order_led</key>
	<dict>
		<key>state_list</key>
		<string>/led_state_list</string>
		<key>position_state</key>
		<string>/position_state</string>
		<key>reset</key>
		<string>/reset</string>
		<key>root</key>
		<string>/api/v1/leds</string>
	</dict>
	<key>order_item</key>
	<dict>
		<key>verify</key>
		<string>verify</string>
		<key>root</key>
		<string>/api/v1/order_items/</string>
	</dict>
	<key>orders</key>
	<dict>
		<key>check_part</key>
		<string>check_part</string>
		<key>history</key>
		<string>history</string>
		<key>root</key>
		<string>/api/v1/orders/</string>
	</dict>
	<key>print</key>
	<dict>
		<key>model</key>
		<string>/printer/printers</string>
		<key>transfer_note</key>
		<string>P007/</string>
		<key>shop_yun_unreceive</key>
		<string>P004/</string>
		<key>shop_yun_receive</key>
		<string>P003/</string>
		<key>shop_tuo_unreceive</key>
		<string>P004/</string>
		<key>shop_tuo_receive</key>
		<string>P005/</string>
		<key>shop_xiang_unreceive</key>
		<string>P004/</string>
		<key>shop_xiang_receive</key>
		<string>P005/</string>
		<key>stock_yun</key>
		<string>P002/</string>
		<key>stock_tuo</key>
		<string>P001/</string>
		<key>stock_xiang</key>
		<string>P001/</string>
		<key>movement_list</key>
		<string>P010/</string>
		<key>file</key>
		<string>/printer/print/</string>
		<key>port</key>
		<string>:9000</string>
		<key>base</key>
		<string>http://192.168.1.109</string>
	</dict>
	<key>storages</key>
	<dict>
		<key>move_store</key>
		<string>/move_store</string>
		<key>index</key>
		<string>/api/v1/storages</string>
	</dict>
	<key>yun</key>
	<dict>
		<key>forklifts</key>
		<string>/forklifts</string>
		<key>confirm_receive</key>
		<string>/confirm_receive</string>
		<key>received</key>
		<string>/received</string>
		<key>receive</key>
		<string>/receive</string>
		<key>send</key>
		<string>/send</string>
		<key>single</key>
		<string>/detail</string>
		<key>add_tuo</key>
		<string>/add_forklift</string>
		<key>remove_tuo</key>
		<string>/remove_forklift</string>
		<key>add_tuo_by_scan</key>
		<string>/check_forklift</string>
		<key>index</key>
		<string>/get_by_time_and_state</string>
		<key>root</key>
		<string>/api/v1/deliveries</string>
	</dict>
	<key>tuo</key>
	<dict>
		<key>send</key>
		<string>/send</string>
		<key>packages</key>
		<string>/packages</string>
		<key>received</key>
		<string>/received</string>
		<key>confirm_receive</key>
		<string>/confirm_receive</string>
		<key>reject</key>
		<string>/rejected</string>
		<key>receive</key>
		<string>/receive</string>
		<key>remove_xiang</key>
		<string>/remove_package</string>
		<key>key_for_bundle</key>
		<string>/check_package</string>
		<key>bundle_add</key>
		<string>/add_package</string>
		<key>single</key>
		<string>/detail</string>
		<key>index</key>
		<string>/get_by_time_and_state</string>
		<key>root</key>
		<string>/api/v1/forklifts</string>
	</dict>
	<key>xiang</key>
	<dict>
		<key>enter_stock</key>
		<string>/enter_stock</string>
		<key>reject</key>
		<string>/reject</string>
		<key>receive</key>
		<string>/receive</string>
		<key>send</key>
		<string>/send</string>
		<key>received</key>
		<string>/received</string>
		<key>confirm_receive</key>
		<string>/confirm_receive</string>
		<key>validate_quantity</key>
		<string>/validate_quantity</string>
		<key>uncheck</key>
		<string>/uncheck</string>
		<key>check</key>
		<string>/check</string>
		<key>validate</key>
		<string>/validate</string>
		<key>index</key>
		<string>/get_by_time_and_state</string>
		<key>root</key>
		<string>/api/v1/packages</string>
	</dict>
	<key>part</key>
	<dict>
		<key>validate</key>
		<string>validate/</string>
		<key>root</key>
		<string>/api/v1/parts/</string>
	</dict>
</dict>
</plist>
